PATH_DB_VOLUME=/var/transcendence-database

#////////////////////////////////////////////////////

GOOGLE_CLIENT_ID=[mettre la value]
GOOGLE_CLIENT_SECRET=[mettre la value]
GOOGLE_REDIRECT_URI=https://[mettre le hostname].42nice.fr:8080/api/auth/google/callback

#////////////////////////////////////////////////////

JWT_SECRET=[mettre la value]

#////////////////////////////////////////////////////

MAIL_USER=[mettre la value]
MAIL_PASS=[mettre la value]

BACKEND_SECRET=[mettre la value]
